<a href="https://colab.research.google.com/github/hemakesh263/python/blob/main/Python_exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## average of three numbers

In [ ]:
a=10
b=20
c=30
avg=(a+b+c)/3
print(avg)
print(type(avg))

20.0
<class 'float'>

## multiplication of three numbers

In [ ]:
a=20
b=20
c=20
total=(a*b*c)
print(total)
print(type(total))

8000
<class 'int'>

## Dynamic addition of two numbers

In [ ]:
a=int(input("enter a number:"))
b=int(input("enter a number:"))
add=a+b
print(add)
print(type(add))

enter a number:10
enter a number:10
20
<class 'int'>

## Dynamic multiplication of two numbers

In [ ]:
a=int(input("enter a number:"))
b=int(input("enter a number:"))
multiply=a*b
print(multiply)
print(type(multiply))

enter a number:5
enter a number:5
25
<class 'int'>

## Dynamic multiplication of three numbers

In [ ]:
a=int(input("enter a number:"))
b=int(input("enter a number:"))
c=int(input("enter a number:"))
d=(a*b*c)
print(d)
print(type(d))

enter a number:5
enter a number:5
enter a number:5
125
<class 'int'>

## Dynamic average of three numbers

In [ ]:
a=float(input("enter a number:"))
b=float(input("enter a number:"))
c=float(input("enter a number:"))
average=(a+b+c)/3
print(average)
print(type(average))

enter a number:5.5
enter a number:5.5
enter a number:5.5
5.5
<class 'float'>

#TYPE CONVERSIONS

## int to float

In [ ]:
a=10
print(a)
print(type(a))
b=float(a)
print(b)
print(type(b))

10
<class 'int'>
10.0
<class 'float'>

## float to int

In [ ]:
a=10.1
print(a)
print(type(a))
b=int(a)
print(b)
print(type(b))

10.1
<class 'float'>
10
<class 'int'>

## int to string

In [ ]:
a=10
print(a)
print(type(a))
b=str(a)
print(b)
print(type(b))

10
<class 'int'>
10
<class 'str'>

## string to int

# Boolean

In [ ]:
a=10
b=12
print(bool(a))
print(type(a))

True
<class 'int'>

In [ ]:
a=20
b=30
c=a>b
print(bool(c))
print(type(c))

False
<class 'bool'>

## Boolean to int

In [ ]:
a=10
b=10
c=a<b
print(bool(c))
d=int(c)
print(d)
print(type(d))

False
0
<class 'int'>

In [ ]:
a=bool(10)
print(type(a))
b=int(a)
print(type(b))

<class 'bool'>
<class 'int'>

## Boolean to float

In [ ]:
a=10
b=10
c=a<=b
print(bool(c))
print(type(c))
d=float(c)
print(d)
print(type(d))

True
<class 'bool'>
1.0
<class 'float'>

In [ ]:
a=bool(10)
print(type(a))
b=float(a)
print(type(b))

<class 'bool'>
<class 'float'>

## Boolean to string

In [ ]:
a=10
b=10
c=a<b
print(bool(c))
print(type(c))
d=str(c)
print(d)
print(type(d))

False
<class 'bool'>
False
<class 'str'>

In [ ]:
a=bool(10)
print(type(a))
b=str(a)
print(type(b))

<class 'bool'>
<class 'str'>

# Complex

In [ ]:
a=5+2j
print(type(a))
c=str(a)
print(c)
print(type(c))
d=bool(a)
print(d)
print(type(d))

<class 'complex'>

TypeError: can't convert complex to int

## CONTROL STATEMENTS

IF

In [ ]:
a=20
b=16
c=25
if a>=18:
    print("you are eligible for voting")
else:
    print("you are not eligible for voting")
if b>=18:
    print("you are eligible for voting")
else:
    print("you are not eligible for voting")
if c>=18:
    print("you are eligible for voting")
else:
    print("you are not eligible for voting")

you are eligible for voting
you are not eligible for voting
you are eligible for voting

IF(DYNAMIC)

In [ ]:
a=int(input("enter the age:"))
b=int(input("enter the age:"))
c=int(input("enter the age:"))
if a>=18:
    print("you are eligible for voting")
else:
    print("you are not eligible for voting")
if b>=18:
    print("you are eligible for voting")
else:
    print("you are not eligible for voting")
if c>=18:
    print("you are eligible for voting")
else:
    print("you are not eligible for voting")

enter the age:20
enter the age:10
enter the age:18
you are eligible for voting
you are not eligible for voting
you are eligible for voting

# GREATEST OF THREE NUMBERS USING DYNAMIC

In [ ]:
a=int(input("enter the number:"))
b=int(input("enter the number:"))
c=int(input("enter the number:"))
if a>b and a>c:
    print("a is greatest")
elif b>c:
    print("b is greatest")
else:
    print("c is greatest")

enter the number:10
enter the number:20
enter the number:30
c is greatest

# GREATEST OF FIVE NUMBERS

In [ ]:
a=int(input("enter the number:"))
b=int(input("enter the number:"))
c=int(input("enter the number:"))
d=int(input("enter the number:"))
e=int(input("enter the number:"))
if a>b and a>c and a>d and a>e:
    print("a is greatest")
elif b>c and b>d and b>e:
    print("b is greatest")
elif c>d and c>e:
  print("c is greatest")
elif d>e:
  print("d is greatest")
else:
    print("e is greatest")

enter the number:10
enter the number:20
enter the number:30
enter the number:40
enter the number:50
e is greatest

# AREA OF TRIANGLE

In [ ]:
a=5
b=6
c=7
s=(a+b+c)/2
print(s)
print(type(s))
area=(s*(s-a)*(s-b)*(s-c))
print(area)
print(type(area))

9.0
<class 'float'>
216.0
<class 'float'>

# MAXIMUM NUMBER OF FIVE SUBJECTS OF A STUDENT

In [ ]:
s1=int(input("enter the marks:"))
s2=int(input("enter the marks:"))
s3=int(input("enter the marks:"))
s4=int(input("enter the marks:"))
s5=int(input("enter the marks:"))
if s1>s2 and s1>s3 and s1>s4 and s1>s5:
    print("s1 is greatest")
elif s2>s3 and s2>s4 and s2>s5:
    print("s2 is greatest")
elif s3>s4 and s3>s5:
  print("s3 is greatest")
elif s4>s5:
  print("s4 is greatest")
else:
    print("s5 is greatest")

enter the marks:95
enter the marks:94
enter the marks:92
enter the marks:91
enter the marks:99
s5 is greatest

# C FOR LOOP

In [ ]:
print(range(1,5,1))
print(list(range(5)))

range(1, 5)
[0, 1, 2, 3, 4]

In [ ]:
i=5
if (i%2==0):
  print("even number")
else:
  print("odd number")

odd number

In [ ]:
print("even numbers")
for i in range(1,100):
  if (i%2==0):
    print(i)

print("odd numbers")
for i in range(1,100):
  if (i%2!=0):
    print(i)

even numbers
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
odd numbers
1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

# While loop

In [ ]:
n=int(input("enter a number"))
sum=0
i=1
while i<=n:
  sum=sum+i
  i=i+1
print(sum)
print(i)

enter a number10
55
11

## while with else

# Leap year

In [ ]:
year=int(input("enter the year"))
if (year%4==0):
  print("leap year")
else:
  print("not a leap year")

enter the year2021
not a leap year

# Triangle is Equilateral, scalene or isosceles

In [ ]:
a=int(input("enter the value"))
b=int(input("enter the value"))
c=int(input("enter the value"))
if a==b and b==c and c==a:
  print("Equilateral triangle")
elif a==b or b==c or c==a:
  print("Isosceles triangle")
else:
  print("Scalene triangle")

enter the value9
enter the value10
enter the value11
Scalene triangle

# Minimum among three numbers

In [ ]:
a=int(input("enter the number"))
b=int(input("enter the number"))
c=int(input("enter the number"))
if a<b and a<c:
  print("a is smallest")
elif b<c and b<a:
  print("b is smallest")
else:
  print("c is smallest")

enter the number9
enter the number8
enter the number7
c is smallest

# Number is divisible by 5 and 11 or not

In [ ]:
a=int(input("enter a number"))
if a%5==0 and a%11==0:
  print("number is divisible by 5 and 11")
else:
  print("number is not divisible by 5 and 11")

enter a number55
number is divisible by 5 and 11

# Factorial of a number

In [ ]:
num=int(input("enter a number"))
factorial=1
if num>0:
  for i in range(1,num+1):
    factorial=factorial*i
    print(factorial)
elif num==0:
  print("factorial of 0 is 1")
else:
  print("the given number is negative")

enter a number6
1
2
6
24
120
720

# Palindrome number or not

In [ ]:
n=int(input("enter a number:"))
rev=0
org=n
while (n!=0):
  remainder=n%10
  rev=rev*10+remainder
  n=int(n/10)
if (org==rev):
  print("palindrome")
else:
  print("not palindrome")

enter a number:1111
palindrome

# LISTS

In [ ]:
fruit=["apple","banana","orange","guava","grapes"]
print(fruit[0])
print(fruit[-1])
print(fruit[0:2])
print(fruit[:2])
print(fruit[2:])
print(fruit[3:5])

apple
grapes
['apple', 'banana']
['apple', 'banana']
['orange', 'guava', 'grapes']
['guava', 'grapes']

## APPEND

In [ ]:
fruit=["apple","banana","orange","guava","grapes"]
fruit.append("mango")
print(fruit)
print(type(fruit))

['apple', 'banana', 'orange', 'guava', 'grapes', 'mango']
<class 'list'>

In [ ]:
fruit=["apple","banana","orange","guava","grapes"]
fruit.insert(1,"kiwi")
print(fruit)

['apple', 'kiwi', 'banana', 'orange', 'guava', 'grapes']

## Extend Lists

In [ ]:
fruit=["apple","banana","orange"]
tropical=["guava","kiwi","pine apple"]
fruit.extend(tropical)
print(fruit)

['apple', 'banana', 'orange', 'guava', 'kiwi', 'pine apple']

## DELETE OF LISTS

In [ ]:
fruit=["apple","banana","orange","guava","grapes"]
fruit.remove("banana")
print(fruit)

['apple', 'orange', 'guava', 'grapes']

In [ ]:
fruit=["apple","banana","orange","guava","grapes"]
fruit.pop(1)
print(fruit)

['apple', 'orange', 'guava', 'grapes']

In [ ]:
fruit=["apple","banana","orange","guava","grapes"]
del (fruit)

## CHANGE OF LISTS

In [ ]:
fruit=["apple","banana","orange","guava","grapes"]
fruit[2]= "rrr"
print(fruit)

['apple', 'banana', 'rrr', 'guava', 'grapes']

## LOOPS IN LISTS

In [ ]:
fruit=["apple","banana","orange","guava","grapes"]
for x in fruit:
  print(x)

apple
banana
orange
guava
grapes

In [ ]:
fruit=["apple","banana","orange","guava","grapes"]
for i in range(len(fruit)):                                    # len - length of the list
  print(fruit[i])

apple
banana
orange
guava
grapes

In [ ]:
fruit=["apple","banana","orange","guava","grapes"]
i = 0
while i < len(fruit):
  print(fruit[i])
  i = i + 1

apple
banana
orange
guava
grapes

In [ ]:
fruit=["apple","banana","orange","guava","grapes"]
[print(x) for x in fruit]

apple
banana
orange
guava
grapes

[None, None, None, None, None]

# List Comprehension

In [ ]:
fruit=["apple","banana","orange","guava","grapes"]
newlist=[]
for x in fruit:
  if "e" in x:
    newlist.append(x)
print(newlist)

['apple', 'orange', 'grapes']
['apple', 'banana', 'orange', 'guava', 'grapes']

# Copy List

In [ ]:
fruit=["apple","banana","orange","guava","grapes"]
mylist= fruit.copy()
print(mylist)

['apple', 'banana', 'orange', 'guava', 'grapes']

In [ ]:
fruit=["apple","banana","orange","guava","grapes"]
mylist= list(fruit)
print(mylist)

['apple', 'banana', 'orange', 'guava', 'grapes']

# Join List

In [ ]:
fruit=["apple","banana","orange","guava","grapes"]
mylist=[1,2,3,4,5]

lists= fruit + mylist
print(lists)

['apple', 'banana', 'orange', 'guava', 'grapes', 1, 2, 3, 4, 5]

In [ ]:
fruit=["apple","banana","orange","guava","grapes"]
mylist=[1,2,3,4,5]

for x in fruit:
  mylist.append(x)

print(mylist)

[1, 2, 3, 4, 5, 'apple', 'banana', 'orange', 'guava', 'grapes']

In [ ]:
fruit=["apple","banana","orange","guava","grapes"]
mylist=[1,2,3,4,5]

mylist.extend(fruit)
print(mylist)

[1, 2, 3, 4, 5, 'apple', 'banana', 'orange', 'guava', 'grapes']

## SORT IN LISTS

### ASCENDING ORDER

In [ ]:
fruit=["apple","banana","orange","guava","grapes"]
fruit.sort()
print(fruit)

['apple', 'banana', 'grapes', 'guava', 'orange']

In [ ]:
list=[65,95,15,26,84,1,85,2,100,955]
list.sort()
print(list)

[1, 2, 15, 26, 65, 84, 85, 95, 100, 955]

### DESCENDING ORDER

In [ ]:
list=[65,95,15,26,84,1,85,2,100,955]
list.sort(reverse=True)
print(list)

[955, 100, 95, 85, 84, 65, 26, 15, 2, 1]

In [ ]:
fruit=["apple","banana","orange","guava","grapes"]
fruit.sort(reverse=True)
print(fruit)

['orange', 'guava', 'grapes', 'banana', 'apple']

### CASE INSENSITIVE SORT

In [ ]:
fruit=["apple","banana","Orange","guava","grapes"]
fruit.sort()
print(fruit)

['Orange', 'apple', 'banana', 'grapes', 'guava']

In [ ]:
fruit=["apple","banana","Orange","guava","grapes"]
fruit.sort(key= str.lower)
print(fruit)

['apple', 'banana', 'grapes', 'guava', 'Orange']

### REVERSE ORDER

In [ ]:
fruit=["apple","banana","Orange","guava","grapes"]
fruit.reverse()
print(fruit)

['grapes', 'guava', 'Orange', 'banana', 'apple']

In [ ]:
num=[]
for x in num(1,100):
  if (x%2==0):
    print(x)

TypeError: ignored